<header class="rootCont">
    <div class="header">

        <p class="welcome">Welcome</p>

        <ul class="headerItems">
            <!-- <li class="headerItem"><a>About</a></li> -->
            <li class="headerItem"><a>Projects</a></li>
            <li class="headerItem"><a>Certificates</a></li>
            <!-- <li class="headerItem"><a>Achivements</a></li> -->
            <!-- <li class="headerItem"><a>Skills</a></li> -->
            <div>

            </div>
            <li class="headerItem resume"><a>⬇️Resume</a></li>
        </ul>

        <div class="img">Menu</div>
    </div>
</header>