<footer class="footer">

    <div>
        <a class="link" href="https://github.com/shivansh14402" target="_blank"><img src="../../assets/github.png"
                class="img" /></a>
        <a class="link" href="https://codepen.io/shivansh14402" target="_blank"><img src="../../assets/codepen.png"
                class="img" /></a>
        <a class="link" href="www.linkedin.com/in/shivansh-shrivastav" target="_blank"><img
                src="../../assets/linkedin.png" class="img" /></a>
    </div>

    <p class="touch">Get in Touch</p>
</footer>