
// background colors
$dark-theme: rgba(0,0,0,0.85);


// font color
$primary-heading-color: white;
$secondary-heading-color: #4d86b9;
$class3-heading-color: #F44336;
// hover color

$primary-hover-color: #6395C2

